.today-products{
	position:relative;
	background-color:#fff;
	padding:45px 24px 20px;
}
.today-products  .tl{
	position:absolute;
	left:0;
	top:10px;
	display:inline-block;
	padding:7px 16px 7px 13px;
	font-size:16px;
	background-color:#1893e1;
	border-radius:0 3px 3px 0;
	color:#fff;
}
.today-products  li{
	float:left;
}
.today-products .img-box{
	position:relative;
	width:144px;
	border-bottom:1px solid #e1e1e1;
	text-align:center;
	margin-bottom:16px;
	
}

.today-products .img-box .name{
	display: block;
	padding-bottom:10px;
	color:#222;
	font-family:Myriad Pro;
	font-weight:400px;
	text-decoration:none;
}
.today-products .img-box:hover .name:after{
	content:'';
	display:block;
	position:absolute;
	bottom:-1px;
	left:0;
	width:100%;
	border-bottom:1px solid #333;
}
.today-products .price{
	line-height:20px;
	color:#999;
	font-size:12px;
	text-align: center;
}

.update-products  {
	margin-top:30px;
}
.update-products .tl{
	background:url(/i/update-icon.png) no-repeat;
	color:#fff;
	font-size:16px;
	padding-left:12px;
	margin-bottom:30px;
}
.update-products li{
	float:left;
	width:110px;
	margin-left:15px;
	text-align: center;
}
.update-products  .menu{
	border-top:1px solid #e1e1e1;
	text-align:center;
	margin-top:35px;
}
.update-products  .menu  a{
	display:inline-block;
	width:50px;	
	padding-top:14px;
	font-size:14px;
	color:#999;
	text-decoration:none;
}
.update-products  .menu  .selected{
	position:relative;
	top:-1px;
	border-top:1px solid #333;
	color:#333;
}
.update-products   .name{
	display: block;
	color:#333;
	font-family:Myriad Pro;
	font-weight:600px;
	text-decoration:none;
	text-align: center;
}